version: "2"

services:
  consul-master:
    image: progrium/consul
    command: -server -bootstrap-expect 2
    networks:
      - consul

  consul-quorum-member:
    image: progrium/consul
    command: -server -join consul-master
    networks:
      - consul
    links:
      - consul-master

  consul-client:
    image: progrium/consul
    command: -join consul-quorum-member
    networks:
      - consul
    links:
      - consul-quorum-member
    ports:
      - "8500:8500"

networks:
  consul:
    driver: bridge
